<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="vendor/autoload.php"
		 colors="true">

	<php>
		<env name="metrics_email" value="user@example.org"/>
		<env name="metrics_token" value="..."/>
	</php>

	<testsuites>
		<testsuite name="Metrics Test Suite">
			<directory suffix="Test.php">./tests/Metrics/</directory>
		</testsuite>
	</testsuites>

</phpunit>
